h1{
  text-align: center;
  color: black;
}

h2{
  color: #63591d;
}
body{
  background-color: #c8c8c8c8;
  color: rgb(61, 59, 59);
  
}

div{
  float: left;
  height: 100px ;
  width: 100px;
  border: solid black;
  margin: 20px;
  color: whitesmoke;
}

p {
  clear: both;
}